@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-blue: #103a84;
  --color-primary-red: #e62127;
  --color-header: #f4f4f4;
}

.border-color-blue {
  border-color: var(--color-primary-blue);
}

.background-color-header {
  background-color: var(--color-header);
  font-weight: 500;
}

.background-color-primary-red {
  background-color: var(--color-primary-red);
}

.background-color-primary-blue {
  background-color: var(--color-primary-blue);
}

.button-search:hover {
  background-color: var(--color-primary-blue);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.navlink {
  transition: all 0.3s;
}

.navlink:hover {
  color: white;
  cursor: pointer;
}

.top-post {
  transition: all 0.3s;
}

.top-post .title {
  transition: all 0.3s;
}

.top-post:hover .title {
  text-decoration: underline;
}

.top-post img {
  transition: all 0.4s;
}

.top-post:hover img {
  transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #075985;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #075985;
}

.text-elipse-1 {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-elipse-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-elipse-3 {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.balloon {
  position: absolute;
  top: -20px;
  right: -40px;
  width: 20rem;
  height: 20rem;
  border-radius: 9999px;
  z-index: 8;
  animation: balloon_animation 3s infinite;
}
/* 
@keyframes balloon_animation {
  0%{
   top: -10px;
   right: -50px
  }

  25%{
    transform: translate(-20px, -20px);
  } 

  100%{
   top: -10px;
   right: -50px
  }
} */

.image-absl {
  position: absolute;
  top: -20px;
  right: -40px;
  width: 20rem;
  height: 20rem;
  border-radius: 9999px;
  z-index: 10;
}
