@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --hover-text-color: #0098c8;
  --color-text: #525252;
  --primary-color: #254650;
  --color-text-black: #232323;
  --color-clendar: #999999;
  --bg-input: #f2f5fc;
  --color-text-brown: #7c7c7c;
  --bg-primary-blur: rgba(37, 70, 80, 0.7);
}

.bg-header {
  background-image: linear-gradient(
    to bottom right,
    rgba(223, 34, 41, 1),
    rgba(15, 58, 133, 1)
  );
}

.bg-footer {
  background-image: linear-gradient(
    to top,
    rgba(223, 34, 41, 1),
    rgba(15, 58, 133, 1)
  );
}

body {
  font-family: "Inter", sans-serif;
}

.bg-primary {
  background-color: var(--primary-color);
}

.navbar {
  overflow: hidden;
  transition: all 0.3s;
}

.navbar ul li a {
  color: #fff;
}

/* .search-box {
  display: flex;
} */

.search-box input {
  border: 3px solid var(--hover-text-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navbar.active {
  height: 100vh;
  padding-bottom: 98px;
}

.navbar ul li a:hover {
  color: var(--hover-text-color);
}

.button-search {
  background-color: var(--hover-text-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 6px 10px !important;
  color: #fff;
}

.sub-menu {
  top: 1;
  background-color: var(--primary-color);
  display: none;
}

.navbar ul li:hover .sub-menu {
  display: block;
}

.latest-news {
  background-image: url("/images/background_news_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  min-height: 600px;
  background-attachment: fixed;

  color: #fff;
  padding: 40px 0;
}

.text-color-black {
  color: var(--color-text-black);
}

.text-color-primary {
  color: var(--primary-color);
}

.color-clendar {
  color: var(--color-clendar);
}

.slide-items,
.slide-items-1,
.slide-items-2 {
  transition: all 0.5s;
}

.slide-item {
  transition: all 0.3s ease-in-out;
}

.slide-item:hover {
  margin-top: -20px;
  height: fit-content;
}

@keyframes slider_animation {
  0% {
    scale: 0.5;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.text-color-brown {
  color: var(--color-text-brown);
}

.bg-input {
  background-color: var(--bg-input);
}

.translate_-50 {
  transform: translateY(-50%);
  margin-bottom: 500px;
}

.custom-left_-50 {
  left: 0;
  /* transform: translateX(50%); */
}

.custom-right_-50 {
  right: 0;
  transform: translateX(50%);
}

.bg-primary-blur {
  background-color: var(--bg-primary-blur);
}

.btn-move:hover {
  background-color: var(--primary-color);
}

.introduction {
  background-image: url("/images/background_introduction.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0;
}

.introduction-details {
  position: relative;
  transition: all 0.4s;
  opacity: 0;
  top: 200px;
}

.introduction-details.active {
  opacity: 1;
  top: 0;
}

.sub_bg_img1,
.sub_bg_img2,
.sub_bg_img3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sub_bg_img2 img {
  mix-blend-mode: saturation;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.sub_bg_img1 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.intro_title {
  margin: 0 auto;
  background-image: url("/images/title_bg_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 50px 40px 50px;
}

.border-linear {
  /* border: 1px solid; */
  border-radius: 10px;
}

.title-2 {
  top: 0;
  transform: translateY(-50%);
}

.artical_hover:hover .artical_hover_title {
  text-decoration-thickness: 2px;
  text-decoration: underline;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* @media only screen and (max-width: 1279px) {
  .d-none {
    display: none;
  }
} */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585757;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
